@using AMS.Core.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = UserManager.GetUserAsync(User).Result;
    var userRole = UserManager.GetRolesAsync(user).Result.FirstOrDefault();
}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Info</a>
        @if (userRole == "Inhabitant")
        {
            <a class="nav-item nav-link" id="nav-apartments-tab" data-toggle="tab" href="#nav-apartments" role="tab" aria-controls="nav-apartments" aria-selected="false">My Apartments</a>
            <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false">My Requests</a>
        }
        @if (userRole == "Admin")
        {
            <a class="nav-item nav-link" id="nav-users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="false">Users</a>
        }
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">@await Html.PartialAsync("_UserInfo")</div>
    <div class="tab-pane fade" id="nav-apartments" role="tabpanel" aria-labelledby="nav-apartments-tab">...</div>
    <div class="tab-pane fade" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab">...</div>
    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">@await Html.PartialAsync("_UserList")</div>
</div>