@using AMS.Core.Models
@model AMS.Web.ViewModels.Payments.CreatePaymentViewModel

@{
    ViewData["Title"] = "Create Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-sm-center">
    <h1>Create new Payment</h1>
</div>
<hr />
<div class="row justify-content-sm-center">
    <div class="col-md-4">
        <form asp-action="CreatePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="ApartmentId" type="hidden" value="@Model.ApartmentId"/>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" type="number" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" type="date" class="form-control" 
                       value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col text-center">
        <a asp-action="Index" asp-controller="Apartments">Go to List list apartments</a>
    </div>
</div>

